---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4210'
      X-Ratelimit-Reset:
      - '1494533182'
      Etag:
      - W/"5c057997e87531512a218f6dfbb71ced"
      Last-Modified:
      - Tue, 09 May 2017 19:18:31 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"slague","id":21252193,"avatar_url":"https://avatars3.githubusercontent.com/u/21252193?v=3","gravatar_id":"","url":"https://api.github.com/users/slague","html_url":"https://github.com/slague","followers_url":"https://api.github.com/users/slague/followers","following_url":"https://api.github.com/users/slague/following{/other_user}","gists_url":"https://api.github.com/users/slague/gists{/gist_id}","starred_url":"https://api.github.com/users/slague/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slague/subscriptions","organizations_url":"https://api.github.com/users/slague/orgs","repos_url":"https://api.github.com/users/slague/repos","events_url":"https://api.github.com/users/slague/events{/privacy}","received_events_url":"https://api.github.com/users/slague/received_events","type":"User","site_admin":false,"name":"Stephanie
        Bentley","company":"@turingschool","blog":"","location":"Denver, Co ","email":"stephanielague@gmail.com","hireable":true,"bio":"Back-End
        Engineering Student","public_repos":40,"public_gists":15,"followers":6,"following":6,"created_at":"2016-08-26T01:01:53Z","updated_at":"2017-05-09T19:18:31Z"}'
  recorded_at: Thu, 11 May 2017 19:55:49 GMT
recorded_with: VCR 3.0.3
