<nav>
  <div class="container">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </div>
</nav>

<div class="contanier">
  <div class="row">
    <div class="center">
      <h3>Welcome to Apicurious<h3>


      <h5><% if current_user %>
        Hello, <%= current_user.name %><br>
        <%= link_to "Logout", logout_path, method: :delete %>
        <% else %>
        <%= link_to "Sign in with Github", github_login_path %>
      <% end %></h5>
      <img width="350" src="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png">
    </div>
  </div>
</div>
