<h1><% if current_user %>
    Hello, <%= current_user.name %><br>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
    <%= link_to "Sign in with Github", github_login_path %>
  <% end %></h1>
