---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4207'
      X-Ratelimit-Reset:
      - '1494533182'
      Etag:
      - W/"0fd66ae305f86cdff91a9927b43f83c2"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90670329,"name":"apicurious","full_name":"slague/apicurious","owner":{"login":"slague","id":21252193,"avatar_url":"https://avatars3.githubusercontent.com/u/21252193?v=3","gravatar_id":"","url":"https://api.github.com/users/slague","html_url":"https://github.com/slague","followers_url":"https://api.github.com/users/slague/followers","following_url":"https://api.github.com/users/slague/following{/other_user}","gists_url":"https://api.github.com/users/slague/gists{/gist_id}","starred_url":"https://api.github.com/users/slague/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slague/subscriptions","organizations_url":"https://api.github.com/users/slague/orgs","repos_url":"https://api.github.com/users/slague/repos","events_url":"https://api.github.com/users/slague/events{/privacy}","received_events_url":"https://api.github.com/users/slague/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/slague/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/slague/apicurious","forks_url":"https://api.github.com/repos/slague/apicurious/forks","keys_url":"https://api.github.com/repos/slague/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/slague/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/slague/apicurious/teams","hooks_url":"https://api.github.com/repos/slague/apicurious/hooks","issue_events_url":"https://api.github.com/repos/slague/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/slague/apicurious/events","assignees_url":"https://api.github.com/repos/slague/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/slague/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/slague/apicurious/tags","blobs_url":"https://api.github.com/repos/slague/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/slague/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/slague/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/slague/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/slague/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/slague/apicurious/languages","stargazers_url":"https://api.github.com/repos/slague/apicurious/stargazers","contributors_url":"https://api.github.com/repos/slague/apicurious/contributors","subscribers_url":"https://api.github.com/repos/slague/apicurious/subscribers","subscription_url":"https://api.github.com/repos/slague/apicurious/subscription","commits_url":"https://api.github.com/repos/slague/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/slague/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/slague/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/slague/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/slague/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/slague/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/slague/apicurious/merges","archive_url":"https://api.github.com/repos/slague/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/slague/apicurious/downloads","issues_url":"https://api.github.com/repos/slague/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/slague/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/slague/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/slague/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/slague/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/slague/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/slague/apicurious/deployments","created_at":"2017-05-08T20:37:17Z","updated_at":"2017-05-10T23:04:00Z","pushed_at":"2017-05-11T17:12:31Z","git_url":"git://github.com/slague/apicurious.git","ssh_url":"git@github.com:slague/apicurious.git","clone_url":"https://github.com/slague/apicurious.git","svn_url":"https://github.com/slague/apicurious","homepage":null,"size":173,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 11 May 2017 19:55:50 GMT
recorded_with: VCR 3.0.3
