---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1494524228'
      Etag:
      - W/"06fde54033d5493bc011798224f6825c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ideashower","id":188963,"avatar_url":"https://avatars1.githubusercontent.com/u/188963?v=3","gravatar_id":"","url":"https://api.github.com/users/ideashower","html_url":"https://github.com/ideashower","followers_url":"https://api.github.com/users/ideashower/followers","following_url":"https://api.github.com/users/ideashower/following{/other_user}","gists_url":"https://api.github.com/users/ideashower/gists{/gist_id}","starred_url":"https://api.github.com/users/ideashower/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ideashower/subscriptions","organizations_url":"https://api.github.com/users/ideashower/orgs","repos_url":"https://api.github.com/users/ideashower/repos","events_url":"https://api.github.com/users/ideashower/events{/privacy}","received_events_url":"https://api.github.com/users/ideashower/received_events","type":"User","site_admin":false},{"login":"larquin","id":96180,"avatar_url":"https://avatars0.githubusercontent.com/u/96180?v=3","gravatar_id":"","url":"https://api.github.com/users/larquin","html_url":"https://github.com/larquin","followers_url":"https://api.github.com/users/larquin/followers","following_url":"https://api.github.com/users/larquin/following{/other_user}","gists_url":"https://api.github.com/users/larquin/gists{/gist_id}","starred_url":"https://api.github.com/users/larquin/starred{/owner}{/repo}","subscrip[...]
