---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1494524228'
      Etag:
      - W/"0d3c6258285cca6466e17930b1e3c95d"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="next",
        <https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":86390907,"name":"wellness_tracker","full_name":"lao9/wellness_tracker","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","starred_url":"https://api.github.com/users/lao9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lao9/subscriptions","organizations_url":"https://api.github.com/users/lao9/orgs","repos_url":"https://api.github.com/users/lao9/repos","events_url":"https://api.github.com/users/lao9/events{/privacy}","received_events_url":"https://api.github.com/users/lao9/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lao9/wellness_tracker","description":null,"fork":false,"url":"https://api.github.com/repos/lao9/wellness_tracker","forks_url":"https://api.github.com/repos/lao9/wellness_tracker/forks","keys_url":"https://api.github.com/repos/lao9/wellness_tracker/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lao9/wellness_tracker/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lao9/wellness_tracker/teams","hooks_url":"https://api.github.com/repos/lao9/wellness_tracker/hooks","issue_events_url":"https://api.github.com/repos/lao9/wellness_tracker/issues/events{/number}","events_url":"https://api.github.com/repos/lao9/wellness_tracker/events","assignees_url":"https://api.github.com/repos/lao9/wellness_tracker/assignees{/user}","branches_url":"https://api.github.com/repos/lao9/wellness_tracker/branches{/branch}","tags_url":"https://api.github.com/repos/lao9/wellness_tracker/tags","blobs_url":"https://api.github.com/repos/lao9/wellness_tracker/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lao9/wellness_tracker/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lao9/wellness_tracker/git/refs{/sha}","trees_url":"https://api.github.com/repos/lao9/wellness_tracker/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lao9/wellness_tracker/statuses/{sha}","languages_url":"https://api.github.com/repos/lao9/wellness_tracker/languages","stargazers_url":"https://api.github.com/repos/lao9/wellness_tracker/stargazers","contributors_url":"https://api.github.com/repos/lao9/wellness_tracker/contributors","subscribers_url":"https://api.github.com/repos/lao9/wellness_tracker/subscribers","subscription_url":"https://api.github.com/repos/lao9/wellness_tracker/subscription","commits_url":"https://api.github.com/repos/lao9/wellness_tracker/commits{/sha}","git_commits_url":"https://api.github.com/repos/lao9/wellness_tracker/git/commits{/sha}","comments_url":"https://api.github.com/repos/lao9/wellness_tracker/comments{/number}","issue_comment_url":"https://api.github.com/repos/lao9/wellness_tracker/issues/comments{/number}","contents_url":"https://api.github.com/repos/lao9/wellness_tracker/contents/{+path}","compare_url":"https://api.github.com/repos/lao9/wellness_tracker/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lao9/wellness_tracker/merges","archive_url":"https://api.github.com/repos/lao9/wellness_tracker/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lao9/wellness_tracker/downloads","issues_url":"https://api.github.com/repos/lao9/wellness_tracker/issues{/number}","pulls_url":"https://api.github.com/repos/lao9/wellness_tracker/pulls{/number}","milestones_url":"https://api.github.com/repos/lao9/wellness_tracker/milestones{/number}","notifications_url":"https://api.github.com/repos/lao9/wellness_tracker/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lao9/wellness_tracker/labels{/name}","releases_url":"https://api.github.com/repos/lao9/wellness_tracker/releases{/id}","deployments_url":"https://api.github.com/repos/lao9/wellness_tracker/deployments","created_at":"2017-03-27T22:40:28Z","updated_at":"2017-03-27T22:41:11Z","pushed_at":"2017-04-09T21:11:43Z","git_url":"git://github.com/lao9/wellness_tracker.git","ssh_url":"git@github.com:lao9/wellness_tracker.git","clone_url":"https://github.com/lao9/wellness_tracker.git","svn_url":"https://github.com/lao9/wellness_tracker","homepage":null,"size":138,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":22,"forks":1,"open_issues":22,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":89957818,"name":"rails_engine","full_name":"samlandfried/rails_engine","owner":{"login":"samlandfried","id":14250133,"avatar_url":"https://avatars2.githubusercontent.com/u/14250133?v=3","gravatar_id":"","url":"https://api.github.com/users/samlandfried","html_url":"https://github.com/samlandfried","followers_url":"https://api.github.com/users/samlandfried/followers","following_url":"https://api.github.com/users/samlandfried/following{/other_user}","gists_url":"https://api.github.com/[...]
